* {
  font-family: "Courier New", Courier, monospace; 
}
html, body {
  background-color: #262925;
  height: 100%;
  margin: 0;
}

#main-box {
  width: 50%;
  height: 38%;
  background-color: #161716;
  border-width: 10vh;
  border-color: #161716;
  border-radius: 10px;
  overflow: hidden;
  display: inline-flex;
  margin:auto;

}

#main-container {
  width: 100%;
  height: 100%; 
  overflow: hidden;
  display: flex;
  background-size: 400%;
  margin:auto;
}

#inside-box {
  width: 94%;
  height: 94%;
  display: flex;
  border-radius: 10px;
  margin:auto;
  background-color: #2F4822;
  overflow: hidden;
  justify-content: center;
}


p {
  margin: auto 0;
}

#sec{
    font-size: 2rem;
    float:right;
    float:bottom;
    margin-left: 0;
    display: inline-block;
}

#time {
    margin: auto;
    text-align: center;
    font-size: 5rem;
    display:table;
    justify-content: center;
}

@media(max-width:1920px) {
  #main-container {
    width: 50%
  }
}

@media(max-width:1440px){
  #main-container{
    width: 85%
  }
}
@media(max-width:850px){
  #main-container{
    width:100%;
  }
}